# Node.js / React Frontend #
node_modules/
dist/
dist-ssr/
build/
.npm/

# Python / FastAPI Backend #
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Testing and Coverage #
.coverage
htmlcov/
.pytest_cache/
nosetests.xml
coverage.xml

# IDE and OS Files #
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Render / Vercel Specific #
.vercel/

# ML generated outputs #
backend/ml/artifacts/png/
backend/ml/artifacts/dataframes/
BSCpE_ILO_Skillset_Alignment.xlsx
*.db
frontend/public/BGLOOPS.mp4
ASPIRE_submission.zip